<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beer</title>
    <style>
        form {display: inline-block;}
    </style>
</head>
<body>
<form action="/logout" method="post" style="inline-block;">
Welcome {{name}}!       <button type="submit">Logout</button>
</form>
<br>
<form action="/create-entry" method="post">
    <input type="text" name="beerName" placeholder="Beer Name"/>
    <input type="text" name="breweryName" placeholder="Brewery Name"/>
    <input type="text" name="beerStyle" placeholder="Style of Beer"/>
    <input type="number" name="abv" placeholder="abv"/>
    <input type="text" name="comment" placeholder="Comments?"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Create Entry</button>
</form>

<ol>
    {{#beers}}
    <li>
        {{beerName}} {{breweryName}} {{beerStyle}} {{abv}} {{comment}}
        <form action="/delete-entryItem" method="post" style="inline-block !important;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button> </form>

        <form action="/edit-entry" method="post" style="inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <a href="/edit-entry?id={{id}}">Edit Entry</a>
        </form>
    </li>
    {{/beers}}
</ol>





</body>
</html>