<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>My Beer</title>

</head>
<body>
<br>
<br>
<center><h1>{{name}}'s Beer List</h1></center>

<form action="/logout" method="post" style="inline-block;">
    <label class="logoutLblPos">
     <button type="submit" style="inline-block;">Logout</button>
    </label>
</form>

<form action="/create-entry" method="post">
    <input type="text" name="beerName" placeholder="Beer Name"/>
    <input type="text" name="breweryName" placeholder="Brewery Name"/>
    <input type="text" name="beerStyle" placeholder="Style of Beer"/>
    <input type="number" name="abv" placeholder="abv"/>
    <input type="text" name="comment" placeholder="Comments?"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Create Entry</button>
</form>

<ol>
    {{#beers}}
    <li>
        {{beerName}} &nbsp {{breweryName}} &nbsp {{beerStyle}} &nbsp{{abv}} &nbsp {{comment}}
        <form action="/delete-entryItem" method="post">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button> </form>

        <form action="/edit-entry" method="post">
            <input type="hidden" name="id" value="{{id}}"/>
            <a href="/edit-entry?id={{id}}">Edit Entry</a>
        </form>
    </li>
    {{/beers}}
</ol>





</body>
</html>