<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>SteinKing</title>
</head>
<body>
<div id="header">
<center> <h1>Welcome To Your Beer Tracker</h1>
    <center><form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter Your Name"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
        <br>
    </center>
    <img src="https://pixabay.com/static/uploads/photo/2016/03/31/18/52/beer-1294715_960_720.png" style="width:450px;height:580px;" alt="this thing"> </center>
</div>
</body>
</html>