<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>Update Beer</title>
</head>
<body>
<form action="/logout" method="post">
    <label class="logoutLblPos">
        <button type="submit" style="inline-block;">Logout</button>
    </label>
</form>
{{#beer}}
<form action="/update-entry" method="post">
    <input type="text" value="{{beerName}}" name="beerName" placeholder="Update Beer Name"  STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{breweryName}}" name="breweryName" placeholder="Update Brewery Name" STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{beerStyle}}" name="beerStyle" placeholder="Update Style of Beer"  STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="number" value="{{abv}}" name="abv" placeholder="Update abv" STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{comment}}" name="comment" placeholder="Update Comment" STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Update Entry</button>
</form>
{{/beer}}

<form>

</form>
</body>
</html>