<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>Update Beer</title>
</head>
<body>
<form action="/logout" method="post">
    <label class="logoutLblPos">
        <button type="submit" style="inline-block;">Logout</button>
    </label>
</form>
{{#beer}}
<form action="/update-entry" method="post">
    <input type="text" value="{{beer.beerName}}" name="newBeerName" placeholder="Update Beer Name" value=" " STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{beer.breweryName}}" name="newBreweryName" placeholder="Update Brewery Name" value=" " STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{beer.beerStyle}}" name="newBeerStyle" placeholder="Update Style of Beer" value=" " STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="number" value="{{beer.abv}}" name="newAbv" placeholder="Update abv" value=" " STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="text" value="{{beer.comment}}" name="newComment" placeholder="Update Comment" value=" " STYLE="color: #FFB901; font-family: Verdana; font-size: 12px; background-color: black;"/>
    <input type="hidden" name="id" value="{{beer.id}}"/>
    <button type="submit">Update Entry</button>
</form>
{{/beer}}

<form>

</form>
</body>
</html>